 *{
    margin: 0;
padding: 0;
 }
 #parent{
    border: 8px double green;
height: 100vh;
display: flex;
    justify-content: space-between;
      align-items: center;
      background-color:rgb(244, 241, 241);
      /* gap: 170px; */
}

.img{
/* width: 100%;
height: 100%; */


}
.child_1_img{
width: 100%;
height: 100%;
border-top-left-radius: 15px;
border-top-right-radius: 15px;


}
.child_1{
     border: 8px double rgb(8, 52, 75);
    border-radius: 15px;
    width: 20%;
     height: 450px;





margin-left: 120px; 
}

.child_2{
    border: 8px double rgb(8, 52, 75);
     border-radius: 15px;
    width: 20%;
     height: 450px;


    
  
}

.child_3{
     border: 8px double rgb(8, 52, 75);
     border-radius: 15px;
    width: 20%;
     height: 450px;





margin-right: 120px;  
}

.child_1a{
  width: auto;
height: 190px;



}

.child_2a{
width: auto;
height: 190px;



}

.child_3a{
width: auto;
height: 190px;



}

.child_1b{
background-color: rgb(151, 229, 229);


}

.child_2b{
background-color: rgb(151, 229, 229);

}

.child_3b{
background-color: rgb(151, 229, 229);

}

.child_1c{
  background-color: rgb(225, 18, 184);
  color: aliceblue;
  height: 40px;
display: flex;
justify-content: space-evenly;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;


}

.child_2c{
    background-color: rgb(225, 18, 184);
    color: aliceblue;
height: 40px;
display: flex;
justify-content: space-evenly;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.child_3c{
    background-color: rgb(225, 18, 184);
    color: aliceblue;
height: 40px;
display: flex;
justify-content: space-evenly;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}














/* 
.box{
border: 2px solid red;
display: inline-flex;
display:flex;
justify-content: center;
width: 300px;
padding: 45px;
margin: 34px;
} */
