/* #parent_1{
    border: 8px double green;
height: 700px;
display: flex;
    justify-content: space-between;
      align-items: center;
      gap: 170px;
}

.child_1{
    border: 4px solid rgb(8, 52, 75);
      width-inline
    height: 550px;
  
} */
 *{
    /* margin: 0;
padding: 0; */
 }
.box{
border: 2px solid red;
display: inline-flex;
/* display:flex; */
justify-content: center;
width: 300px;
padding: 45px;
margin: 34px;


}
