#para1{
color: rgb(6, 172, 23);
font-size: 24px;
border-style: dashed;
border-width: 5px;
}

.para2{
color: rgb(215, 91, 13);
font-size: 24px;
border-style: dotted;
border: 2px double red;
border-radius: 15px;
padding-left: 5px;

}

.para3{
border: 5px double aqua;
font-size: 24px;
border-style: double;
padding-left: 12px;
}