*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: rgb(206, 87, 87); */
}

#navbar{
background-color: black;
width: 100%;
height: 60px;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;
padding-right: 10px;

}
#navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


#navbar ul{
    display: flex;
   gap: 20px;
   list-style: none;
}

#navbar ul li a{
color: white;
text-decoration: none;

}

button{
   
    position: relative;
    width:100px;
    padding: 10px 20px;
    border: 3px solid #FA8C00;
    border-radius: 50px;
    background: transparent;
    color:#ffffff;
    font-size: 16px;
    overflow:hidden;
    cursor: pointer;
    transition: color 1s linear;
    padding: 0 10px;
}
button::after{
    content:'';

    transform: translate(-50%, -50%) rotate(45deg);

    background: #FA8C00;

    transition: all 2s linear;
    pointer-events:none;

}
button:hover::after{
    /* height:350px; */
}
button:hover{
    color:#FA8C00;;
}